* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(235, 18%, 26%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.main-card{
    font-family: 'Roboto', sans-serif;
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    max-width: 53rem;
    gap: 1.25rem;
    padding: 1.5rem;
    border-radius: 2rem;
}

.card-content{
    padding: 60px 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}


.card-title{
    font-size: 56px;
}

.card-img{
    width: 50%;
}


.desc-check {
    line-height: 2.5;
    /* font-size: 17px; */
}

.desc-check img {
    margin: 0px 5px; 
    width: 17px;
}



#email{
    width: 20rem;
    border-radius: 8px;
    border: 1px solid #999;
    min-height: 2.5rem;
    margin-top: 8px;
    padding: 5px 25px;
}


#btn-click{
    width: 100%;
    background-color: hsl(234, 29%, 20%);
    color: white;
    margin-top: 20px;
    min-height: 2.5rem;
    border-radius: 5px;
    font-weight: 700;
    font-size: 15px;
    padding: 15px;

    
}

label {
    font-size: small;
    font-weight: 800;
}